<!DOCTYPE html>
<html lang="{{ config.lang }}">
<head>
    {% block pagetitle %}{% endblock %}
    {% include "partials/metas.njk" %}
    <link rel="stylesheet" href="./css/styles.css">
    <script>
      if(!location.href.match('localhost')){
        if (location.protocol != 'https:'){ 
          location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }
      }
    </script>
    {% block css %}{% endblock %}
</head>
<body>
  <main id="app"> 
    {% include "partials/header.njk" %}
    <section class="content" id="view">
    {% block layout %}{% endblock %}
    </section>
  </main>
  <script type="text/javascript" src="./javascript/main.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>