<header class="header">
  <div class="logo">
    <a href="/">{{config.name}}<span>{{config.dot}}</span></a>
  </div>
  <a href="javascript:void(0)" class="btn-menu">
    <span></span>
    <span></span>
  </a>
  <nav class="navigation">
    <a href="javascript:void(0)" class="btn-menu btn-close">
      <span></span>
      <span></span>
    </a>
    {% for item in menu %}
    <a class="{% if page_title == item.txt.toLowerCase() %}link active {% else %}link{% endif %}" href="{{item.url}}">
      {{ item.txt }}
    </a>
    {% endfor %}
  </nav>    
</header>




