<meta charset="{{ config.charset }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="{{ config.author }}">
<meta name="title" content="{{ config.title }}">
<meta name="description" content="{{ config.description }}">
<meta name="keywords" content="{{ config.keywords }}">

<meta itemprop="name" content="{{ config.title }}">
<meta itemprop="description" content="{{ config.description }}">
<meta itemprop="image" content="./icons/logo-facebook-560x292.jpg">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<meta property="og:url" content="{{ config.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ config.title }}">
<meta property="og:description" content="{{ config.description }}">
<meta property="og:image" content="./icons/logo-facebook-560x292.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ config.title }}">
<meta name="twitter:description" content="{{ config.description }}">
<meta name="twitter:image" content="./icons/logo-facebook-560x292.jpg">

<link rel="apple-touch-icon" sizes="57x57" href="./icons/ios/57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./icons/ios/60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./icons/ios/72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./icons/ios/76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./icons/ios/114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./icons/ios/120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./icons/ios/144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./icons/ios/52.png">
<link rel="apple-touch-icon" sizes="180x180" href="./icons/ios/180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./icons/android-launchericon-192-192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./icons/ios/32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./icons/ios/96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./icons/ios/16.png">
<link rel="manifest" href="./icons/icons.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./icons/ios/144.png">
<meta name="theme-color" content="#ffffff">