{% set page_title = "enlaces" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block layout %}
<section class="boxes">
    <article class="box-3">
        <h3>Experimentos</h3>
        {% for enlace in pages.experimentos %}  
            <p>
                ✍️ <strong>{{enlace.title}}</strong> - {{enlace.description}} 
                <a href="{{enlace.url}}" title="{{enlace.title}}">Enlace..</a>
            </p>
        {% endfor %}
    </article>
    <article class="box-3">
        <h3>Recursos interesantes</h3>
        {% for enlace in pages.recursos %}  
            <p>
                👌 <strong>{{enlace.title}}</strong> - {{enlace.description}} 
                <a href="{{enlace.url}}" title="{{enlace.title}}">Enlace..</a>
            </p>
        {% endfor %}
    </article>
    <article class="box-3">
        <h3>Redes</h3>
        {% for enlace in pages.redes %}  
            <p>
                👉 <strong>{{enlace.title}}</strong> -
                <a href="{{enlace.url}}" title="{{enlace.title}}">Enlace..</a>
            </p>
        {% endfor %}
    </article>
</section>
{% endblock %}


