{% set page_title = "inicio" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block layout %}
  <div class="boxes center p-3">
    <div class="box-4">
      <div class="animated-logo"></div>
    </div>
    <div class="box-2">
      <h1>{{pages.home.title}}</h1>
      <h2>{{pages.home.description}}</h2>
      <p>{{pages.home.content}}</p>
      <div class="info">
          {{pages.home.info}} 
          👉 <a target="_blank" rel="noopener" title="Ver Proyecto" href="{{pages.home.btn.url}}">
            {{pages.home.btn.txt}}
          </a>
      </div>
    </div>
  </div>
{% endblock %}

