{% set page_title = "proyectos" %} 
{% extends "layout.njk" %}
{% block pagetitle %}<title>{{ config.title }}</title>{% endblock %}
{% block layout %}
<section class="boxes">
{% for proyecto in pages.proyectos %}
    <article class="box-4 proyecto">
        <figure>
            <img class="zoom" src="{{proyecto.image}}" alt="{{proyecto.title}}"/>
            <figcaption>
                <strong>{{proyecto.title}}</strong> - {{proyecto.description}} - 
                <a href="{{proyecto.url}}" title="{{proyecto.title}}">Enlace..</a>
            </figcaption>
        </figure>
    </article>
{% endfor %}
</section>
{% endblock %}


