{% macro centerBox(title, description,content) %}
  <div class="boxes center p-3">
    <div class="box-2">
      <h1>{{title}}</h1>
      <h2>{{description}}</h2>
      <p>{{content}}</p>
    </div>
  </div>
{% endmacro %}