@viewport {
  width: device-width;
  zoom: 1;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
body,
html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
  background: var(--dark);
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--txt);
  overflow: hidden;
  margin: 0;
  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: text-top;
}
p > img:not(:only-child) {
  float: right;
  margin: 0 0 0.5em 0.5em;
}
.header .logo span,
b,
blockquote:before,
strong {
  color: var(--dark);
}
