.boxes {
  flex-basis: 100%;
  @include flex(row, wrap, flex-start);
}

@for $i from 1 through 12 {
  .box-#{$i} {
    display: block;
    flex-basis: calc(100% / #{$i} - 1.1em);
    margin: 0.5em;
  }
}

@media (max-width: $media) {
  @for $i from 1 through 4 {
    .box-#{$i} {
      flex-basis: 100%;
    }
  }
}

.center {
  justify-content: center;
  align-items: center;
  height: 80%;
  @media (max-width: $media) {
    justify-content: flex-start;
    padding:0.5rem;
    img{
      width:100%;
    }
  }
}
