.card {
  position: relative;
  height: 260px;
  margin-bottom: 1rem;
  overflow: hidden;
  background: var(--dark);
  .card-header {
    position: relative;
    z-index: 1;
    @extend .aspect-ratio;
  }
  .card-body {
    @extend %absolute-bottom-position;
    padding: 1rem;
    z-index: 2;
    background: var(--txt);
    color: var(--light);
    @extend %flex-center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: all 400ms ease;
  }
  .card-footer a {
    @extend %absolute-right-position;
    z-index: 2;
    background: var(--dark);
    color: var(--light);
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    opacity: 1;
    border-right: 4px solid var(--dark);
    transform: translateX(100%);
    transition: all 400ms ease;
  }
  &:hover .card-footer a {
    border-right: 4px solid var(--light);
    transform: translateX(0%);
    transition: all 400ms ease;
  }
  &:hover .card-body {
    visibility: visible;
    opacity: 0.8;
    transform: translateY(0%);
    transition: all 400ms ease;
  }
  @media (orientation: portrait) {
    height: 175px !important;
  }
  @media (max-width: 1024px) {
    height: 250px;
  }
  @media (max-width: 580px) {
    height: 250px;
  }
}
