figure {
  margin: 0.5rem auto;
  > img {
    display: inline-block;
    width: auto;
    > img:only-of-type,
    > svg:only-of-type {
      max-width: 100%;
      display: block;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  figcaption,
  caption {
    color: var(--dark);
    width: 100%;
    margin-top:3px;
    > *:first-child {
      display: inline-block;
      margin: 0;
    }
  }
  > *:not(:last-child) {
    margin-bottom: 0.4rem;
  }
}
