.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 13rem;
  grid-gap: 1px;
  grid-auto-flow: row dense;
  margin: 10px;
  counter-reset: grid;

  > article {
    @extend %flex-center;
    overflow: hidden;
    background: var(--dark);
    color: var(--light);
    position: relative;
    counter-increment: grid;

    &:before {
      content: counter(grid);
      @extend %absolute-position;
      background: var(--txt);
      color: var(--light);
      width: 1rem;
      height: 1rem;
      font-size: 10px;
      text-align: center;
    }

    &:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    &:nth-child(7) {
      grid-column: 2 / span 2;
      grid-row: 4 / span 2;
    }
    &:nth-child(11) {
      grid-column: 1 / 3;
      grid-row: 7 / span 2;
    }
    &:nth-child(14) {
      grid-column: 3;
      grid-row: 7 / span 3;
    }
    &:nth-child(20) {
      grid-column: 2 / span 2;
      grid-row: 10 / span 2;
    }
    &:nth-child(24) {
      grid-column: 1 / 3;
      grid-row: 13 / span 2;
    }
    &:nth-child(31) {
      grid-column: 2 / span 2;
      grid-row: 16 / span 2;
    }
    &:nth-child(36) {
      grid-column: 2 / span 2;
      grid-row: 19 / span 1;
    }
    &:nth-child(37) {
      grid-column: 1 / 3;
      grid-row: 20 / span 1;
    }
    &:nth-child(39) {
      grid-column: 1 / span 3;
      grid-row: 21;
    }
  }

  @media (max-width: 960px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    @include flex(row,wrap,flex-start);
    margin: 0px;
    > article {
      @extend %flex-center;
      justify-self: stretch;
      overflow: hidden;
      margin: 1px;
      height: 100px;
      width: calc(#{100% / 4} - 3px);
      background: var(--dark);
      color: var(--light);
    }
  }
  @media (max-width: 768px) {
    > article {
      width: calc(#{100% / 3} - 3px);
    }
  }
  @media (max-width: 600px) {
    > article {
      width: calc(#{100% / 2} - 3px);
    }
  }
}
