.lightbox {
  @extend %absolute-position;
  @extend %fullscreen;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999999;
  .lightbox-body {
    @extend %flex-center;
    @extend %fullscreen;
    @include cursor(❌);
    animation: zoom 200ms ease-in-out;
    @keyframes zoom {
      from {
        transform: scale(0);
      }
    }
    img {
      @extend %flex-center;
      padding: 1rem;
      max-width: calc(100% - 2rem);
      max-height: calc(100% - 2rem);
    }
  }
}

figure img,
.grid img {
  @include cursor(👁️);
}

img.zoom {
  box-shadow: var(--shadow);
  border: 4px solid var(--dark);
  transition: transform 500ms ease;
  &:hover,
  &:focus{
    transform: scale(0.95);
    transition: transform 500ms ease;
  }
}