%fullscreen {
  width: 100%;
  height: 100%;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-position {
  position: absolute;
  top: 0;
  left: 0;
}
%absolute-right-position {
  position: absolute;
  top: 0;
  right: 0;
}
%absolute-bottom-position {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin flex($direction, $wrap, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin cursor($emoji) {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 48 48" style="fill:black;font-size:24px"><text y="50%">#{$emoji}</text></svg>')
      16 0,
    auto;
}
