:root {
  /* https://2colors.colorion.co/ */
  --dark: #{$dark};
  --light: #{$light};
  --txt: #{$txt};
  --font-family: #{$fontFamily};
  --font-size: #{$fontSize};
  --font-weight: #{$fontWeight};
  --line-height: #{$lineHeight};
  --shadow: #{$shadow};
}
