$dark: #A4193D;
$light: #FFDFB9;
$txt: #333333;

$fontFamily: system-ui, -apple-system, Roboto, Arial, sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$lineHeight: 1.6;
$shadow: 5px 5px 0px $txt;

$media: 768px;
